.button {
    background : rgb(4, 0, 85); 
    border-radius: 0.5em;
    border: none;
    padding: 5px 32px;
    color : white; 
    margin: 10px;
    width: fit-content;
}

.button:hover {
    background : rgb(10, 0, 209); 
}

.container {
    display: flex;
    font-size: 1.5em;
    margin: 10%;
    color: white; 
    background-color: rgba(255, 255, 255, 0.282);
    justify-content:space-around;
    border-radius: 5px;
    padding: 10px 0px;
    width: 700px;
    margin-left: 30%;
}

.img {
    overflow:hidden;
    border-radius: 10px;
}

@media (max-width: 850px) {
    .container {
        flex-direction: column;
        width: 80%;
        padding: 0px;
    }

    .img {
        overflow:hidden;
        width: 100%;
        border-radius: 10px;
    }   
}


